html
  head
    link(href="/css/style.css", rel="stylesheet")
  body
    canvas#myCanvas
    script(src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous")
    script(src="/js/socket.io.js")
    script(src="/js/index.js")
